<head>
  <meta charset="utf8" />
  <title>Blog Hound | <%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
  <script src="/js/DOMhelp.js"></script>
  <script src="/js/styleSwitcher.js"></script>
</head>
